@page "/"
@page "/welcome"
@layout MainLayout
@inherits InnovationWebApp.Pages.WelcomeComponent

@using Radzen
@using Radzen.Blazor
@using InnovationWebApp.Models.InnovateDb

<RadzenContent Container="main">
    <ChildContent>
        <RadzenHeading Size="H1" Text="Welcome">
        </RadzenHeading>
        <RadzenImage Path="assets/images/Ledcor_Project_Intro.jpg" style="width: 100%">
        </RadzenImage>
        <div class="row">

        </div>
    </ChildContent>
</RadzenContent>
